.loginParent {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-primary-green);
    overflow: auto;
}

.loginWholeContent {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 10px;

}

.loginProfileBlock {
    position: absolute;
    width: 13rem;
    height: 13rem;
    background: var(--bg-profile-gray);
    border-radius: 100%;
    top: -16%;
    border: 4px solid var(--bg-primary-green);
    overflow: hidden;
}
.face,.faceBody{
    position: absolute;
    width: 60%;
    height: 60%;
    background-color: var(--bg-secondary-dark);
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    z-index: 9;
}
.faceBody{
    width: 100%;
    height: 100%;
    top: 115%;
}

.loginChild {
    width: 38rem;
    height: auto;
    overflow: hidden;
    background: var(--bg-secondary-dark);
    border-radius: 40px;
    box-shadow: 0px 30px 40px var(--shadow-dark);
    display: flex;
    gap: 20px;
    align-content: center;
    padding-inline: 30px;
    padding-block: 10px;
    padding-top: 70px;
    flex-direction: column;
}

.loginSingupContainer {
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
}

.loginSingupContainer > button {
    width: 50%;
    height: 94%;
    background-color: transparent;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(151, 151, 151);
    font-size: 2rem;
    font-weight: lighter;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.loginSingupContainer > button:hover{
    cursor: pointer;
}


.currentButtonIdentifier {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2%;
    background-color: var(--border-light-gray);
    overflow: hidden;
}
.detecterMover{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: white;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.loginFormField{
    width: 100%;
    height: auto;
   /*  background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formTextField{
    width: 100%;
    height: 6rem;
   /*  background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.formTextField > span{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    color: var(  --light-gray-text);
    font-size: 1.2rem;
    
    
}
.loginInputField{
    height: 4rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-profile-gray);
    padding-left:10px ;
    color: white;
    font-size: 1.8rem;
}

.SubmitBtn{
    width: 100%;
    height: 8rem;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.loginSubmitBtn{
    width: 80%;
    height: 60%;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--bg-primary-green);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}
.SubmitBtn > span{
    color: var(--light-gray-text);
    font-size: 1.2rem;text-decoration:underline;
    
}

.addPhoto{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    
}
.addPhoto > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.addPhoto > span{
    position: absolute;
    font-size: 8rem;
    line-height: 0;
    color: var(--bg-secondary-dark);
}

